In [36]:
import scanpy as sc
import pandas as pd

### split 30 HUMAN

In [7]:
split = 30

In [8]:
adata = sc.read_h5ad(f"homo_sapiens_census_top{split}_embedding.h5ad")

In [9]:
adata.obs = adata.obs[['dataset_id', 'cell_type', 'disease']]

In [10]:
adata.obs["organism"] = "Homo sapiens"

In [13]:
adata.obs.rename({"dataset_id":"dataset"}, axis = 1, inplace = True)

In [16]:
adata.var

       soma_joinid       feature_id   feature_name  feature_length
0                0  ENSG00000121410           A1BG            3999
1                1  ENSG00000268895       A1BG-AS1            3374
2                2  ENSG00000148584           A1CF            9603
3                3  ENSG00000175899            A2M            6318
4                4  ENSG00000245105        A2M-AS1            2948
...            ...              ...            ...             ...
60659        60659  ENSG00000288719  RP4-669P10.21            4252
60660        60660  ENSG00000288720  RP11-852E15.3            7007
60661        60661  ENSG00000288721   RP5-973N23.5            7765
60662        60662  ENSG00000288723  RP11-553N16.6            1015
60663        60663  ENSG00000288724   RP13-546I2.2             625

[60664 rows x 4 columns]

#### Getting orth

In [17]:
# Save to a .txt file
with open(f"genes/genes_in_the_dataset_top{split}_actual.txt", "w") as file:
    for item in adata.var.feature_id.to_list():
        file.write("%s , " % item)

In [38]:
genes30 = pd.read_table("genes/genes_in_the_dataset_top30_orth.txt")

In [39]:
genes30.columns

Index(['Gene stable ID', 'Mouse gene stable ID', 'Mouse homology type'], dtype='object')

In [41]:
adata.var.columns

Index(['soma_joinid', 'feature_id', 'feature_name', 'feature_length'], dtype='object')

In [48]:
adata.var.index = adata.var["feature_id"]

In [49]:
sum(adata.var.index.duplicated())

0

In [51]:
sum(genes30['Gene stable ID'].duplicated())

5950

In [55]:
genes30_unique = genes30.drop_duplicates(subset='Gene stable ID', keep=False)

In [56]:
sum(genes30_unique['Gene stable ID'].duplicated())

0

In [60]:
var = adata.var.merge(genes30_unique, left_index=True, right_on="Gene stable ID", how = "left")
var.index = var["feature_id"]

In [61]:
adata.var = var

In [66]:
adata = adata[:,adata.var["Mouse homology type"] == "ortholog_one2one"]

In [69]:
var = pd.DataFrame(index = adata.var["Mouse gene stable ID"].rename("EID"))

In [71]:
adata.var = var

In [74]:
sc.pp.normalize_per_cell(adata)
sc.pp.log1p(adata)

In [75]:
adata.write_h5ad(f"homo_sapiens_census_top{split}_embedding_norm_log1p_orth.h5ad")

### split 50 HUMAN

In [76]:
split = 50

In [77]:
adata = sc.read_h5ad(f"homo_sapiens_census_top{split}_embedding.h5ad")

In [78]:
adata.obs = adata.obs[['dataset_id', 'cell_type', 'disease']]

In [79]:
adata.obs["organism"] = "Homo sapiens"

In [80]:
adata.obs.rename({"dataset_id":"dataset"}, axis = 1, inplace = True)

In [81]:
adata.obs

,dataset,cell_type,disease,organism
0,74cff64f-9da9-4b2a-9b3b-8a04a1598040,uterine smooth muscle cell,normal,Homo sapiens
1,74cff64f-9da9-4b2a-9b3b-8a04a1598040,uterine smooth muscle cell,normal,Homo sapiens
2,74cff64f-9da9-4b2a-9b3b-8a04a1598040,embryonic fibroblast,normal,Homo sapiens
3,74cff64f-9da9-4b2a-9b3b-8a04a1598040,epithelial cell,normal,Homo sapiens
4,74cff64f-9da9-4b2a-9b3b-8a04a1598040,epithelial cell,normal,Homo sapiens
...,...,...,...,...
308299,8c42cfd0-0b0a-46d5-910c-fc833d83c45e,bronchial smooth muscle cell,normal,Homo sapiens
308300,8c42cfd0-0b0a-46d5-910c-fc833d83c45e,bronchial smooth muscle cell,normal,Homo sapiens
308301,8c42cfd0-0b0a-46d5-910c-fc833d83c45e,bronchial smooth muscle cell,normal,Homo sapiens
308302,8c42cfd0-0b0a-46d5-910c-fc833d83c45e,bronchial smooth muscle cell,normal,Homo sapiens
308303,8c42cfd0-0b0a-46d5-910c-fc833d83c45e,bronchial smooth muscle cell,normal,Homo sapiens

In [82]:
adata.var

       soma_joinid       feature_id   feature_name  feature_length
0                0  ENSG00000121410           A1BG            3999
1                1  ENSG00000268895       A1BG-AS1            3374
2                2  ENSG00000148584           A1CF            9603
3                3  ENSG00000175899            A2M            6318
4                4  ENSG00000245105        A2M-AS1            2948
...            ...              ...            ...             ...
60659        60659  ENSG00000288719  RP4-669P10.21            4252
60660        60660  ENSG00000288720  RP11-852E15.3            7007
60661        60661  ENSG00000288721   RP5-973N23.5            7765
60662        60662  ENSG00000288723  RP11-553N16.6            1015
60663        60663  ENSG00000288724   RP13-546I2.2             625

[60664 rows x 4 columns]

#### Getting orth

In [83]:
# Save to a .txt file
with open(f"genes/genes_in_the_dataset_top{split}_actual.txt", "w") as file:
    for item in adata.var.feature_id.to_list():
        file.write("%s , " % item)

In [84]:
genes = pd.read_table(f"genes/genes_in_the_dataset_top{split}_orth.txt")

In [85]:
genes.columns

Index(['Gene stable ID', 'Mouse gene stable ID', 'Mouse homology type'], dtype='object')

In [86]:
adata.var.columns

Index(['soma_joinid', 'feature_id', 'feature_name', 'feature_length'], dtype='object')

In [87]:
adata.var.index = adata.var["feature_id"]

In [88]:
sum(adata.var.index.duplicated())

0

In [89]:
sum(genes['Gene stable ID'].duplicated())

5943

In [90]:
genes = genes.drop_duplicates(subset='Gene stable ID', keep=False)

In [91]:
sum(genes['Gene stable ID'].duplicated())

0

In [92]:
var = adata.var.merge(genes, left_index=True, right_on="Gene stable ID", how = "left")
var.index = var["feature_id"]

In [93]:
adata.var = var

In [94]:
adata = adata[:,adata.var["Mouse homology type"] == "ortholog_one2one"]

In [95]:
var = pd.DataFrame(index = adata.var["Mouse gene stable ID"].rename("EID"))

In [96]:
adata.var = var

In [97]:
sc.pp.normalize_per_cell(adata)
sc.pp.log1p(adata)

In [101]:
adata.write_h5ad(f"homo_sapiens_census_top{split}_embedding_norm_log1p_orth.h5ad")

### split 50 HUMAN

In [102]:
split = 70

In [103]:
adata = sc.read_h5ad(f"homo_sapiens_census_top{split}_embedding.h5ad")

In [104]:
adata.obs = adata.obs[['dataset_id', 'cell_type', 'disease']]

In [105]:
adata.obs["organism"] = "Homo sapiens"

In [106]:
adata.obs.rename({"dataset_id":"dataset"}, axis = 1, inplace = True)

In [107]:
adata.obs

,dataset,cell_type,disease,organism
0,74cff64f-9da9-4b2a-9b3b-8a04a1598040,stromal cell,normal,Homo sapiens
1,74cff64f-9da9-4b2a-9b3b-8a04a1598040,stromal cell,normal,Homo sapiens
2,74cff64f-9da9-4b2a-9b3b-8a04a1598040,stromal cell,normal,Homo sapiens
3,74cff64f-9da9-4b2a-9b3b-8a04a1598040,stromal cell,normal,Homo sapiens
4,74cff64f-9da9-4b2a-9b3b-8a04a1598040,stromal cell,normal,Homo sapiens
...,...,...,...,...
445577,8c42cfd0-0b0a-46d5-910c-fc833d83c45e,pericyte,normal,Homo sapiens
445578,8c42cfd0-0b0a-46d5-910c-fc833d83c45e,pericyte,normal,Homo sapiens
445579,8c42cfd0-0b0a-46d5-910c-fc833d83c45e,pericyte,normal,Homo sapiens
445580,8c42cfd0-0b0a-46d5-910c-fc833d83c45e,pericyte,normal,Homo sapiens
445581,8c42cfd0-0b0a-46d5-910c-fc833d83c45e,pericyte,normal,Homo sapiens

In [108]:
adata.var

       soma_joinid       feature_id   feature_name  feature_length
0                0  ENSG00000121410           A1BG            3999
1                1  ENSG00000268895       A1BG-AS1            3374
2                2  ENSG00000148584           A1CF            9603
3                3  ENSG00000175899            A2M            6318
4                4  ENSG00000245105        A2M-AS1            2948
...            ...              ...            ...             ...
60659        60659  ENSG00000288719  RP4-669P10.21            4252
60660        60660  ENSG00000288720  RP11-852E15.3            7007
60661        60661  ENSG00000288721   RP5-973N23.5            7765
60662        60662  ENSG00000288723  RP11-553N16.6            1015
60663        60663  ENSG00000288724   RP13-546I2.2             625

[60664 rows x 4 columns]

#### Getting orth

In [109]:
# Save to a .txt file
with open(f"genes/genes_in_the_dataset_top{split}_actual.txt", "w") as file:
    for item in adata.var.feature_id.to_list():
        file.write("%s , " % item)

In [110]:
genes = pd.read_table(f"genes/genes_in_the_dataset_top{split}_orth.txt")

In [111]:
genes.columns

Index(['Gene stable ID', 'Mouse gene stable ID', 'Mouse homology type'], dtype='object')

In [112]:
adata.var.columns

Index(['soma_joinid', 'feature_id', 'feature_name', 'feature_length'], dtype='object')

In [113]:
adata.var.index = adata.var["feature_id"]

In [114]:
sum(adata.var.index.duplicated())

0

In [115]:
sum(genes['Gene stable ID'].duplicated())

5943

In [116]:
genes = genes.drop_duplicates(subset='Gene stable ID', keep=False)

In [117]:
sum(genes['Gene stable ID'].duplicated())

0

In [118]:
var = adata.var.merge(genes, left_index=True, right_on="Gene stable ID", how = "left")
var.index = var["feature_id"]

In [119]:
adata.var = var

In [120]:
adata = adata[:,adata.var["Mouse homology type"] == "ortholog_one2one"]

In [121]:
var = pd.DataFrame(index = adata.var["Mouse gene stable ID"].rename("EID"))

In [122]:
adata.var = var

In [123]:
sc.pp.normalize_per_cell(adata)
sc.pp.log1p(adata)

In [124]:
adata.write_h5ad(f"homo_sapiens_census_top{split}_embedding_norm_log1p_orth.h5ad")