In [1]:
import scanpy as sc
import pandas as pd

### seed 42 MOUSE

In [4]:
seed = 42

In [5]:
adata = sc.read_h5ad(f"mus_musculus_random_datasets_sample_seed_{seed}.h5ad")

In [6]:
adata.obs = adata.obs[['dataset_id', 'cell_type', 'disease']]

In [7]:
adata.obs["organism"] = "Mus musculus"

In [8]:
adata.obs.rename({"dataset_id":"dataset"}, axis = 1, inplace = True)

In [9]:
adata.var

,soma_joinid,feature_id,feature_name,feature_length
0,0,ENSMUSG00000051951,Xkr4,6094
1,1,ENSMUSG00000089699,Gm1992,250
2,2,ENSMUSG00000102343,Gm37381,1364
3,3,ENSMUSG00000025900,Rp1,12311
4,4,ENSMUSG00000025902,Sox17,4772
...,...,...,...,...
52387,52387,ENSMUSG00000081591,Btf3-ps9,496
52388,52388,ENSMUSG00000118710,mmu-mir-467a-3_ENSMUSG00000118710,83
52389,52389,ENSMUSG00000119584,Rn18s,1849
52390,52390,ENSMUSG00000118538,Gm18218,970
52391,52391,ENSMUSG00000084217,Setd9-ps,670

#### Getting orth

In [17]:
var = pd.DataFrame(index = adata.var.feature_id.rename("EID"))

In [18]:
var

Empty DataFrame
Columns: []
Index: [ENSMUSG00000051951, ENSMUSG00000089699, ENSMUSG00000102343, ENSMUSG00000025900, ENSMUSG00000025902, ENSMUSG00000104328, ENSMUSG00000033845, ENSMUSG00000025903, ENSMUSG00000104217, ENSMUSG00000033813, ENSMUSG00000002459, ENSMUSG00000085623, ENSMUSG00000033793, ENSMUSG00000025905, ENSMUSG00000033774, ENSMUSG00000025907, ENSMUSG00000090031, ENSMUSG00000087247, ENSMUSG00000033740, ENSMUSG00000051285, ENSMUSG00000097797, ENSMUSG00000103067, ENSMUSG00000025909, ENSMUSG00000061024, ENSMUSG00000025911, ENSMUSG00000067879, ENSMUSG00000099827, ENSMUSG00000025912, ENSMUSG00000045210, ENSMUSG00000097893, ENSMUSG00000025915, ENSMUSG00000046101, ENSMUSG00000098234, ENSMUSG00000099032, ENSMUSG00000025916, ENSMUSG00000087199, ENSMUSG00000025917, ENSMUSG00000056763, ENSMUSG00000067851, ENSMUSG00000042501, ENSMUSG00000048960, ENSMUSG00000057715, ENSMUSG00000097171, ENSMUSG00000101314, ENSMUSG00000016918, ENSMUSG00000025938, ENSMUSG00000099498, ENSMUSG00000042414, ENSMUSG00000005886, ENSMUSG00000101476, ENSMUSG00000025935, ENSMUSG00000025937, ENSMUSG00000067813, ENSMUSG00000025932, ENSMUSG00000054493, ENSMUSG00000025930, ENSMUSG00000032769, ENSMUSG00000092083, ENSMUSG00000025925, ENSMUSG00000032719, ENSMUSG00000067795, ENSMUSG00000043716, ENSMUSG00000025921, ENSMUSG00000100868, ENSMUSG00000025920, ENSMUSG00000089982, ENSMUSG00000025939, ENSMUSG00000079658, ENSMUSG00000097744, ENSMUSG00000025940, ENSMUSG00000025779, ENSMUSG00000101640, ENSMUSG00000042686, ENSMUSG00000100110, ENSMUSG00000025777, ENSMUSG00000099899, ENSMUSG00000067780, ENSMUSG00000100053, ENSMUSG00000085125, ENSMUSG00000025776, ENSMUSG00000099895, ENSMUSG00000025774, ENSMUSG00000073735, ENSMUSG00000067773, ENSMUSG00000089787, ENSMUSG00000042596, ENSMUSG00000025927, ENSMUSG00000100538, ENSMUSG00000043760, ENSMUSG00000089914, ENSMUSG00000099906, ENSMUSG00000025929, ENSMUSG00000041872, ENSMUSG00000041859, ENSMUSG00000102121, ENSMUSG00000097934, ENSMUSG00000025931, ENSMUSG00000041809, ENSMUSG00000041779, ENSMUSG00000099971, ...]

[52392 rows x 0 columns]

In [19]:
adata.var = var

In [22]:
sc.pp.normalize_per_cell(adata)
sc.pp.log1p(adata)

In [23]:
adata.write_h5ad(f"Clean_datasets/mus_musculus_random_datasets_sample_seed_{seed}_norm_log1p.h5ad")

### seed 43 MOUSE

In [34]:
seed = 43

In [35]:
adata = sc.read_h5ad(f"mus_musculus_random_datasets_sample_seed_{seed}.h5ad")

In [36]:
adata.obs = adata.obs[['dataset_id', 'cell_type', 'disease']]

In [37]:
adata.obs["organism"] = "Mus musculus"

In [38]:
adata.obs.rename({"dataset_id":"dataset"}, axis = 1, inplace = True)

In [39]:
adata.var

,soma_joinid,feature_id,feature_name,feature_length
0,0,ENSMUSG00000051951,Xkr4,6094
1,1,ENSMUSG00000089699,Gm1992,250
2,2,ENSMUSG00000102343,Gm37381,1364
3,3,ENSMUSG00000025900,Rp1,12311
4,4,ENSMUSG00000025902,Sox17,4772
...,...,...,...,...
52387,52387,ENSMUSG00000081591,Btf3-ps9,496
52388,52388,ENSMUSG00000118710,mmu-mir-467a-3_ENSMUSG00000118710,83
52389,52389,ENSMUSG00000119584,Rn18s,1849
52390,52390,ENSMUSG00000118538,Gm18218,970
52391,52391,ENSMUSG00000084217,Setd9-ps,670

In [40]:
var = pd.DataFrame(index = adata.var.feature_id.rename("EID"))

In [41]:
adata.var = var

In [42]:
sc.pp.normalize_per_cell(adata)
sc.pp.log1p(adata)

In [43]:
adata.write_h5ad(f"Clean_datasets/mus_musculus_random_datasets_sample_seed_{seed}_norm_log1p.h5ad")